body {
    background-color: rgb(10, 16, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#flexbox {
    box-shadow: 2px 4px 8px rgb(255, 255, 255);
    border: rgb(185, 187, 181) solid 4px;
    border-radius: 20px;
    width: 350px;
    padding: 10px;
    display: flex;
    background-color: rgb(158, 153, 153);
    align-items: center;
    
}

div {
    border-radius: 15px;
    transition: 0.4s;
    margin: 7px;
    color: #ffffff;
    justify-content: center;
    animation: animacao 2s alternate infinite;
}

div:hover {
    border-radius: 15px;
    padding: 9px;
    transition: 0.4s;
    background-color: rgb(114, 102, 102);
}

a {
    text-decoration: none;
    color: white;
}
@keyframes animacao {
    0% {
        background-color: gray;
    }
    100% {
        background-color: red;
    }
}